In [1]:
# Import Libraries
import numpy as np 
import pandas as pd

In [2]:
# Define DataFrame
cropProduction=pd.read_csv("../../data/CropProduction.csv")
cropRecommentationA1=pd.read_csv("../../data/CropRecommendationApproach1.csv")

In [3]:
# Crop Production Unique
cpUnique=pd.unique(cropRecommentationA1["crop"].str.lower())
# Crop Recommendation Unique
crUnique=pd.unique(cropProduction["Crop"].str.lower())
print("Crop Production Unique Crops: ",cpUnique)
print("Crop Recommendation Unique Crops: ",crUnique)

Crop Production Unique Crops:  ['palay' 'mais']
Crop Recommendation Unique Crops:  ['palay' 'mais']

In [4]:
# Common Crops
unique=[cpU for cpU in cpUnique if cpU in crUnique]
unique

['palay', 'mais']

In [5]:
# Drop unnecessary Crops
data=cropProduction[cropProduction["Crop"].str.lower().isin(unique)].reset_index(drop=True)
# Export Preprocessed Data
data.to_csv("../../data/CropProductionMinified.csv")
data

    State_Name District_Name  Crop_Year Season   Crop   Area  Production
0     La Union   SAN GABRIEL       2020    WET  Palay   2000         700
1     La Union   SAN GABRIEL       2020    WET  Palay   7500        3581
2     La Union   SAN GABRIEL       2020    DRY   Mais   2500        1654
3     La Union   SAN GABRIEL       2020    WET  Palay  10000        3423
4     La Union   SAN GABRIEL       2020    WET  Palay   1000         525
..         ...           ...        ...    ...    ...    ...         ...
305   La Union   SAN GABRIEL       2020    DRY   Mais   2500        1692
306   La Union   SAN GABRIEL       2020    DRY   Mais   2500        1632
307   La Union   SAN GABRIEL       2020    WET   Mais   3000        2966
308   La Union   SAN GABRIEL       2020    WET   Mais   2500        1746
309   La Union   SAN GABRIEL       2020    DRY   Mais   2500        1699

[310 rows x 7 columns]

In [6]:
# Drop Year
data=data.drop(['Crop_Year'],axis=1)

In [7]:
finalData=data[data['Production']>0].reset_index(drop=True)
finalData

    State_Name District_Name Season   Crop   Area  Production
0     La Union   SAN GABRIEL    WET  Palay   2000         700
1     La Union   SAN GABRIEL    WET  Palay   7500        3581
2     La Union   SAN GABRIEL    DRY   Mais   2500        1654
3     La Union   SAN GABRIEL    WET  Palay  10000        3423
4     La Union   SAN GABRIEL    WET  Palay   1000         525
..         ...           ...    ...    ...    ...         ...
305   La Union   SAN GABRIEL    DRY   Mais   2500        1692
306   La Union   SAN GABRIEL    DRY   Mais   2500        1632
307   La Union   SAN GABRIEL    WET   Mais   3000        2966
308   La Union   SAN GABRIEL    WET   Mais   2500        1746
309   La Union   SAN GABRIEL    DRY   Mais   2500        1699

[310 rows x 6 columns]

In [8]:
# Set Features as Category
finalData['State_Name']=finalData['State_Name'].astype('category')
finalData['District_Name']=finalData['District_Name'].astype('category')
finalData['Season']=finalData['Season'].astype('category')
finalData['Crop']=finalData['Crop'].astype('category')

In [9]:
# Convert Category to codes
finalData['State_Name']=finalData['State_Name'].cat.codes
finalData['District_Name']=finalData['District_Name'].cat.codes
finalData['Season']=finalData['Season'].cat.codes
finalData['Crop']=finalData['Crop'].cat.codes

In [10]:
# Check for NULL values
finalData.isnull().any()

State_Name       False
District_Name    False
Season           False
Crop             False
Area             False
Production       False
dtype: bool

In [11]:
# Check for na values
finalData.isna().any()

State_Name       False
District_Name    False
Season           False
Crop             False
Area             False
Production       False
dtype: bool

In [12]:
# Display Final Data
finalData

     State_Name  District_Name  Season  Crop   Area  Production
0             0              1       1     1   2000         700
1             0              1       1     1   7500        3581
2             0              1       0     0   2500        1654
3             0              1       1     1  10000        3423
4             0              1       1     1   1000         525
..          ...            ...     ...   ...    ...         ...
305           0              1       0     0   2500        1692
306           0              1       0     0   2500        1632
307           0              1       1     0   3000        2966
308           0              1       1     0   2500        1746
309           0              1       0     0   2500        1699

[310 rows x 6 columns]

In [13]:
# Export Preprocessed Data
finalData.to_csv("../../preprocessedData/CropProduction.csv")